body {
    background-image: url(assets/todo.jpg);
    background-size: cover;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
    padding-bottom: 50px;
  }
  
  .container {
    max-width: 750px;
    margin: 20px auto;
    padding: 15px;
    background-color:#bc8f8f;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .todo-app h1 {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .todo-app h1 img{
    width: 20px;
    margin-left: 10px;
  }
  #category{
     display: flex;
     padding: 0.5rem;
     background-color: #fff;
     border-radius: 30px;
     justify-content:space-evenly;
     cursor: pointer;
  }
  #navigate{
    display: flex;
    justify-content: space-around;
  }
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    display: block;
    width: (100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    margin: 10px auto;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .completed {
    text-decoration:line-through;
    color: #777;
  }
  
  .delete {
    float: right;
    color: #ff0000;
    cursor: pointer;
  }
  .bottom p {
    text-align: center;
  }
  
  
  